@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto" sans-serif;
  list-style: none;
  text-decoration: none;
}
.nav {
  margin-top: 41px;
}
.container {
  max-width: 1198px;
  margin: 0 auto;
}

/* Header */
.nav {
  margin: 40px 0;
}
.nav__wrapper {
  margin-top: 49px;
  display: flex;
  justify-content: space-between;
}
.nav__list {
  list-style: none;
  display: flex;
  gap: 70px;
  padding-top: 11px;
}
.nav__list-item a {
  position: relative;
  text-decoration: none;
  color: #373737;
  font-size: 17px;
  font-weight: 500;
  padding: 12px 0;
}
.nav__list-item a::before {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #717cff;
  opacity: 0;
  transition: all 0, 3s ease;
}
.active a::before,
.nav__list-item a:hover::before {
  width: 50%;
  opacity: 1;
}
.nav__list-item:last-child a {
  border-radius: 11px;
  border: 2px solid #717cff;
  padding: 11px 33px;
  transition: all 0.3s ease;
}
.nav__list-item:last-child a:hover {
  background-color: #717cff;
  color: white;
}

/* End of header */

/* Hero section */
.hero {
  padding: 100px 0 54px;
}
.hero__wrapper {
  position: relative;
  padding-top: 40px;
  background-image: url(../images/Group\ 16.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right 21px;
}
/* .rounded__bg{
  position: absolute;
  width: 1030px;
  height: 581px;
  background-image: url(../images/yumaloq.svg);
  block-size: contain;
  top: 143px;
  left: calc(50%+100px);
} */
.hero__wrapper h2 {
  color: #2f2f2f;
  font-size: 56px;
  font-weight: 900;
  max-width: 420px;
}
.innerText {
  color: #717cff;
}
.hero__wrapper p {
  max-width: 602px;
  color: #7d7d7d;
  font-size: 22px;
  font-weight: 500;
  line-height: 38px;
  margin: 65px 0 42px;
}
.apply__btn {
  padding: 12px 92px 12px 34px;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  font-style: 20px;
  font-weight: 500;
  background-color: #717cff;
  border-radius: 11px;
  background-image: url(../images/arrow_forward_24px.png);
  background-repeat: no-repeat;
  background-position: center right 32px;
  border: 2px solid transparent;
  transition: all 0, 3s ease;
}
.apply__btn:hover {
  background-color: #fff;
  color: #373737;
  border: 2px solid #717cff;
  background-position: center right 22px;
}
.socials {
  margin-top: 100px;
  display: flex;
  align-items: center;
  gap: 25px;
}
/* end hero section */
.sub__title h3 {
  margin-top: 100px;
  color: #373737;
  text-align: center;
  font-family: Roboto;
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2.1px;
  text-transform: uppercase;
}
.sub__img {
  display: flex;
  gap: 94px;
  margin-top: 86px;
  margin-bottom: 104px;
}
.scrol__img {
  text-align: center;
}

.serv__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.serv__title h2 {
  margin-top: 179px;
  margin-bottom: 25px;
  color: #373737;
  text-align: center;
  font-family: Roboto;
  font-size: 37px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px; /* 145.946% */
  letter-spacing: -0.463px;
}
.serv__title > p {
  color: #7d7d7d;
  text-align: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 500;
  line-height: 38px;
  width: 949px;
}
.sub__list-item {
  margin-bottom: 30px;
}

.sub__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 47px;
  column-gap: 56px;
  row-gap: 56px;
  margin-top: 110px;
  margin-bottom: 228px;
}
.sub__list > .sub__list-item {
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 0px 77px 0px rgba(0, 0, 0, 0.06);
  width: 344px;
  height: 381px;
  padding: 20px;
}

.img__bg1 {
  width: 76px;
  height: 76px;
  flex-shrink: 0;
  border-radius: 38px;
  background: #717cff;
  margin-bottom: 30px;
}
.img__bg2 {
  width: 76px;
  height: 76px;
  flex-shrink: 0;
  border-radius: 38px;
  background: #ff5959;
  margin-bottom: 30px;
}
.img__bg3 {
  width: 76px;
  height: 76px;
  flex-shrink: 0;
  border-radius: 38px;
  background: #70ce88;
  margin-bottom: 30px;
}
.img__bg4 {
  margin-bottom: 30px;
  width: 76px;
  height: 76px;
  flex-shrink: 0;
  border-radius: 38px;
  background: #5c96ff;
}
.img__bg5 {
  margin-bottom: 30px;
  width: 76px;
  height: 76px;
  flex-shrink: 0;
  border-radius: 38px;
  background: #fa706c;
}
.btn {
  color: #717cff;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 0.439px;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.sub__list-item h4 {
  margin-bottom: 9px;
  width: 279px;
  color: #37474f;
  font-size: 24px;
  font-weight: 700;
  line-height: 37px;
}
.sub__list-item p {
  margin-bottom: 30px;
  width: 296px;
  height: 90px;
  flex-shrink: 0;
  color: rgba(55, 71, 79, 0.72);

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.444px;
}
.join__boxs {
  display: flex;
  gap: 46px;
  margin-bottom: 146px;
}
.join__box {
  margin-bottom: 132px;
}

.join__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.join__title h2 {
  color: #373737;
  text-align: center;
  font-family: Roboto;
  font-size: 37px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: -0.463px;
  margin-bottom: 25px;
}
.join__title > p {
  color: #7d7d7d;
  text-align: center;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px;
  width: 949px;
  height: 80px;
  margin-bottom: 116px;
}
.join__box {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 6px 42px 0px rgba(0, 0, 0, 0.1);
  width: 344px;
  height: 430px;
}
.data {
  display: flex;
  padding: 20px;
}
.data > img {
  margin-top: 28px;
}

.data > p {
  color: #565656;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-top: 28px;
}
.p {
  color: #252525;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 291px;
  height: 56px;
  padding: 10px;
}
.btn__join {
  width: 226px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 11px;
  background: #717cff;
  margin-bottom: 130px;
}
.btn__join a {
  padding-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  line-height: 40px;
}
.footer {
  max-width: 100%;
}
.flex{
  display: flex;
  
}

.f__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 145px;
  font-weight: wrap;
  color: white;
  background: linear-gradient(183deg, #717cff -8.57%, #717cff 82.96%);
  width: 100%;
  height: 346px;
  flex-shrink: 0;
}
.footer__logo {
  margin-bottom: 17px;
}
.class__p {
  padding-top: 31px;
}
.text__img-logo {
  color: white;
}

.footer__logo > .logo__round {
  color: #717cff;
}
.f__logo > h2 {
  color: white;
}
.f__info > p {
  width: 391px;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.f__info {
  padding-left: 50px;
}

.f__info__text + p {
  color: #fff;
  font-size: 16px;
  margin-top: 31px;
}
.f__column {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: white;
}
.f__links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
  list-style: none;
}
.f__link {
  list-style: none;
  transition: all0.3s ease;
}
.f__link:hover {
  color: #1b4070;
}
